###########################################################################
# Base settings
###########################################################################
PROJECT_NAME=app_name

PROJECTS_ROOT_PATH=/dev/code

USER_NAME=user
USER_GROUP=group

###########################################################################
# NGINX
###########################################################################
NGINX_CONFD_PATH=./conf/nginx/conf.d
NGINX_CONF_PATH=./conf/nginx/nginx.conf
NGINX_LOGS_PATH=./logs/nginx

###########################################################################
# NODE
###########################################################################
NODE_VERSION=12
NODE_LOGS_PATH=./logs/node
NODE_NODE1_DIR=/admin

###########################################################################
# Postgres
###########################################################################
DB_NAME=db_name
DB_USER=admin
DB_PASSWORD=admin
DB_DATA_PATH=./data/postgres

###########################################################################
# Redis
###########################################################################
REDIS_DATA_PATH=./data/redis

###########################################################################
# RabbitMQ
###########################################################################
RABBITMQ_DATA_PATH=./data/rabbitmq
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

###########################################################################
# PHP
###########################################################################
PHP_VERSION=7.3
PHP_CONFD_PATH=./conf/php/custom.ini
XDEBUG_CONFD_PATH=./conf/php/xdebug.ini

###########################################################################
# Composer
###########################################################################
COMPOSER_PATH=./data/composer
COMPOSE_CONVERT_WINDOWS_PATHS=false
COMPOSE_FORCE_WINDOWS_HOST=false
